:root {
    --cor-primaria: #4a4e69;
    /* Cor principal para elementos de destaque */
    --cor-secundaria: #9a8c98;
    /* Cor secundária para elementos complementares */
    --cor-tercearia: rgba(101, 24, 180, 1);
    /* Cor terciária para elementos de destaque secundários */
    --cor-texto: #00d2df;
    /* Cor de texto principal */
    --cor-texto-secundario: #c4c4c4;
    /* Cor de texto secundario */
    --cor-texto-terceario: #009688;
    /* Cor de texto terceario */
    --cor-fundo: #121212;
    /* Cor de fundo geral */
    --cor-fundo-secundaria: #151515;
    /* Cor secundaria de fundo */
}

main {
    background-color: var(--cor-fundo);
    padding-top: 5px;

}

a {
    text-decoration: none;
}

/* Scroll Bar*/

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra de rolagem */
    background-color: #000000;
    /* Cor de fundo */
}

/* Estilizando o polegar (a parte arrastável) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: var(--cor-texto);
    /* Cor do polegar */
    border-radius: 5px;
    /* Arredondamento do polegar */
}

/* Estilizando o polegar quando estiver sendo arrastado */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-texto);
    /* Cor do polegar ao passar o mouse */
}

/* Header */



header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    backdrop-filter: blur(5px);
    z-index: 9999;
    border-bottom: var(--cor-texto) solid 1.5px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;





}

header nav ul {
    display: flex;

}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 280ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15);
    color: var(--cor-texto-terceario)
}

header .container img {
    height: 30px;
}

#checkbox-menu {
    display: none
}



/* Presentation */

.presentation-main {
    margin-top: 90px;
    display: flex;
    height: 95vh;

}

.presentation-container {
    flex: 1;
    background-color: var(--cor-fundo);
    color: #fff;

}

.greet-container {

    padding-left: 200px;
    padding-top: 190px;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 150px;


}

.hello {
    font-size: 20px;
    margin-bottom: 10px;
}

.hello-name {
    font-size: 65px;
    color: var(--cor-texto);

}

.hello-skill {
    font-size: 20px;
    margin-top: 15px;
}




/* Button presentation */

.button-container {

    justify-content: center;
    align-items: center;
    height: 15%;
    margin-top: 0 auto;
    flex-direction: row;
    display: flex;
    padding-right: 210px;
    padding-bottom: 70px;
}



#button-refence {
    display: block;
    width: 7em;
    height: 2.4em;
    border-radius: 10px;
    font-size: 20px;
    margin: 30px;
    background-color: var(--cor-fundo);
    border: var(--cor-texto) solid 2px;
    color: #F5F5F5
}


#button-refence:hover {
    cursor: pointer;
    background-color: #fff;
    transition: 0.5s ease;
    color: var(--cor-texto-terceario);
    font-weight: bold;
}


/* Image presentation */



.image img {
    width: 150px;
}

.image-right {
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    width: 50vw;


}




.image-content {
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    margin-right: 350px;

}


/* Seção sobre mim */
#about {
    height: 40vh;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--cor-fundo-secundaria);
}

.about div {


    justify-content: center;

    align-items: center;
    height: 80px;
    padding-bottom: 100px;
    margin-bottom: 145px;
}

.about h1 {
    color: #a5a2a2;
    margin-bottom: 80px;
    padding-top: 90px;
}

.about-content {

    width: 95%;
    height: 40px;
    padding-bottom: 200px;


}

.about p {
    color: #a5a2a2;
    margin-bottom: 5px;

}





/* Seção Projetos */

a {
    text-decoration: none;
}

#projects-presentation {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--cor-texto-secundario);
    margin-top: 90px;
    padding-top: 90px;
    margin-bottom: 90px;
    font-size: 30px
}



.project-title {
    color: var(--cor-texto-secundario);
    padding-left: 20px;

}

.project-button a input {
    border: var(--cor-texto) solid 2px;
    color: var(--cor-texto-secundario);
    border-radius: 5px;
    background-color: var(--cor-fundo-secundaria);
    width: 90px;
    height: 40px;
    margin-top: 15px;
}

.project-button a input:hover {
    cursor: pointer;
    color: var(--cor-texto-terceario);
    background-color: white;
    transition: 0.3s ease;
}

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.text-medium {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(187, 185, 185);

}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000;
    transition: all 0.3s ease 0s;
    border-left: #009688 solid 5px;
}

.card:hover {
    transform: translateY(-10px);

}

.image {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0;
    height: 100px;
}

.image img {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 250px;
}

.content {
    margin: 20px;
}

.title {
    margin-bottom: 0px;
}




/* Seção Skills */

.skills {
    color: var(--cor-texto-secundario);
    height: 50vh;
    background-color: var(--cor-fundo-secundaria);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills h1 {

    padding-bottom: 100px;
}

.skill-container {

    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    width: 400px;

}

.image-icon {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0;
    height: 100px;
}

.card-icon {
    border-left: #009688 solid 5px;
    margin: 5px;
    overflow: hidden;
    width: 200px;


}

.image-icon img {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    height: 70px;

}

/* Footer */

.span-name {
    color: var(--cor-texto);

}

footer {
    display: flex;
    flex-direction: column;

    background-color: var(--cor-fundo);
    color: #F5F5F5;
    align-items: center;
    justify-content: center;
    height: 90px;
}

/* Extras */

.alert-span {
    color: var(--cor-texto);
}