:root {
    --cor-primaria: #4a4e69;
    /* Cor principal para elementos de destaque */
    --cor-secundaria: #9a8c98;
    /* Cor secundária para elementos complementares */
    --cor-terciaria: rgba(101, 24, 180, 1);
    /* Cor terciária para elementos de destaque secundários */
    --cor-texto: #00d2df;
    /* Cor de texto principal */
    --cor-texto-secundario: #c4c4c4;
    /* Cor de texto secundario */
    --cor-texto-terceario: #009688;
    /* Cor de texto terceario */
    --cor-fundo: #121212;
    /* Cor de fundo geral */
    --cor-fundo-secundaria: #151515;
    /* Cor secundaria de fundo */
}

main {
    background-color: var(--cor-fundo);
    padding-top: 5px;

}

a {
    text-decoration: none;
}

/* Scroll Bar*/

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra de rolagem */
    background-color: #000000;
    /* Cor de fundo */
}

/* Estilizando o polegar (a parte arrastável) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: var(--cor-texto);
    /* Cor do polegar */
    border-radius: 5px;
    /* Arredondamento do polegar */
}

/* Estilizando o polegar quando estiver sendo arrastado */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-texto);
    /* Cor do polegar ao passar o mouse */
}

/* Header */


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45393A;
    height: 90px;
    background-color: rgba(36, 36, 36, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999;
    border-bottom: #009688 solid 1.5px;

}

li {
    list-style-type: none;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 1.3em;


}

.main-header .nav-items li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: solid 0px white;
    transition: border-bottom 0.2s ease;

}

.main-header .nav-items li a:hover {
    color: #009688;
    border-bottom: solid 10px white;
}

.main-header .nav-items li:hover a {
    color: #009688;

}

.main-header .nav-items li:last-child {
    margin-right: 0;
}






/* Presentation */

.presentation-main {
    margin-top: 90px;
    display: flex;
    height: 95vh;

}

.presentation-container {
    flex: 1;
    background-color: var(--cor-fundo);
    color: #fff;

}

.greet-container {

    padding-left: 200px;
    padding-top: 190px;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 150px;


}

.hello {
    font-size: 20px;
    margin-bottom: 10px;
}

.hello-name {
    font-size: 65px;
    color: var(--cor-texto);

}

.hello-skill {
    font-size: 20px;
    margin-top: 15px;
}




/* Button presentation */

.button-container {

    justify-content: center;
    align-items: center;
    height: 15%;
    margin-top: 0 auto;
    flex-direction: row;
    display: flex;
    padding-right: 210px;
    padding-bottom: 70px;
}

#button-refence {
    display: block;
    width: 7em;
    height: 2.4em;
    border-radius: 10px;
    font-size: 20px;
    margin: 30px;
    background-color: var(--cor-fundo);
    border: var(--cor-texto) solid 2px;
    color: #F5F5F5
}


#button-refence:hover {
    cursor: pointer;
    background-color: #fff;
    transition: 0.5s ease;
    color: var(--cor-texto-terceario);
    font-weight: bold;
}


/* Image presentation */

.image-right {
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    width: 50vw;


}




.image-content {
    position: relative;
    margin: 0 auto;
    width: 40%;
    height: 40%;

}


/* Seção sobre mim */
.about {
    height: 60vh;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--cor-fundo-secundaria);
}

.about div {


    justify-content: center;

    align-items: center;
    height: 80px;
    padding-bottom: 100px;
    margin-bottom: 145px;
}

.about h1 {
    color: #a5a2a2;
    margin-bottom: 150px;
    padding-top: 50px;
}

.about-content {

    width: 95%;
    height: 40px;
    padding-bottom: 150px;

}

.about p {
    color: #a5a2a2;
    margin-bottom: 5px;

}



/* Seção Projetos */
.projects {
    color: var(--cor-texto-secundario);
    height: 80vh;
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;


}

.projects h1 {
    /* border-bottom: #009688 solid 5px; */
}

.projects-container {

    display: flex;
    height: 100vh;
    padding: 0;
    overflow: hidden;


}

.image-block {
    overflow: hidden;

    width: 350px;
    height: 200px;
    border-left: #00d2df solid 10px;
    border-radius: 5px
}

.project-image {
    position: relative;
    width: 350px;
    height: 200px;


}

.project-image {
    transition: transform 0.3s ease-in-out;
}

.project-image:hover {
    transform: scale(1.15);
}

.project-card {

    padding: 20px;
}

.description-container h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}


.project-button-container {

    margin-top: 20px;
}

.project-button-container a input {
    width: 120px;
    height: 40px;
    display: block;
    border-radius: 8px;
    font-size: 20px;
    background-color: var(--cor-fundo);
    border: var(--cor-texto) solid 2px;
    color: #F5F5F5;
    font-weight: 500;
}

.project-button-container a input:hover {
    cursor: pointer;
    background-color: #fff;
    transition: 0.8s ease;
    color: var(--cor-texto-terceario);

}





/* Seção Skills */

.skills {
    color: white;
    height: 50vh;
    background-color: var(--cor-fundo-secundaria);

}

/* Footer */

.span-name {
    color: var(--cor-texto);

}

footer {
    display: flex;
    flex-direction: column;

    background-color: var(--cor-fundo);
    color: #F5F5F5;
    align-items: center;
    justify-content: center;
    height: 90px;
}